.card {
	position: relative;
	transition: 0.3s;
}

.card img {
	width: 100%;
	display: block;
	border: 2px solid #ff8000;
	border-radius: 6px;
}

.card:hover {
	transform: scale(1.05);
}

.card-front {
	height: 128px;
	width: 128px;
}

.card-back {
	height: 128px;
	width: 128px;
}
